<%- include("partials/header") %>

<h1>Hello, <%= user %></h1>

<div class="container text-center">
  <h4>Your Reviews</h4>
  <% if (locals.reviews) { %> <% reviews.forEach(rev => { %>
  <div class="review-box">
    <p><%=rev.title%> written by <%=rev.author%></p>
    <p><%=rev.review%></p>
    <form action="/delete" method="post">
      <input
        type="submit"
        name="deleteId"
        value="Delete review <%= rev.id %>"
      />
    </form>
  </div>
  <% }); %> <% } %>
</div>

<%- include("partials/footer") %>
