<%- include("partials/header") %>

<h1>Hello, <%= user %></h1>

<h2>Your Reviews</h2>

<div class="container text-center">
  <div class="waitlist-container">
    <p class="d-inline-flex gap-1">
      <button
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseExample"
        aria-expanded="false"
        aria-controls="collapseExample"
      >
        Waitlist
      </button>
    </p>

    <div class="collapse" id="collapseExample">
      <div>
        <ul>
          <% if (locals.waitlist) {%> <% waitlist.forEach(book => { %>
          <li><%= book.book %></li>
          <% }); %> <% } %>
        </ul>
        <form class="waitlist-form" action="/addWaitlistBook" method="post">
          <input
            type="text"
            name="waitlistBook"
            autocomplete="off"
            style="border: solid 1px #543310"
          />
          <input type="submit" value="Add" style="font-weight: bolder" />
        </form>
      </div>
    </div>
  </div>

  <div class="row row-cols-3">
    <% if (locals.reviews) { %> <% reviews.forEach(rev => { %>
    <div class="col">
      <p><%=rev.title%></p>
      <% for (let i = 0; i < +rev.stars; i++) { %>
      <span class="rating"></span>
      <% } %>
      <p><%=rev.review%></p>
      <form class="del-form" action="/delete" method="post">
        <input type="hidden" name="deleteId" value="<%= rev.id %>" />
        <button type="submit">Delete</button>
      </form>
      <!-- select edit form -->
      <form class="del-form" action="/select" method="post">
        <input type="hidden" name="selectId" value="<%= rev.id %>" />
        <button type="submit">Edit</button>
      </form>
    </div>
    <% }); %> <% } %>
  </div>
</div>

<%- include("partials/footer") %>
