<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>yourwords</title>
  </head>
  <body>
    <header>
      <nav>
        <img
          class="logo"
          src="/img/logo.png"
          alt="yourwords logo"
          loading="lazy"
        />
        <a href="/search">Search books</a>
        <a href="/post">Post a review</a>
        <a href="/login">Login</a>
        <a href="/sign">Sign Up</a>
      </nav>
    </header>

    <h1>Book reviews</h1>

    <h2>Reviews</h2>
    <div class="wrapper">
      <% if (locals.reviews) { %> <% reviews.forEach(rev => { %>
      <div class="review-box">
        <p><%=rev.title%> written by <%=rev.author%></p>
        <p>read by <%= rev.name %></p>
        <p><%=rev.review%></p>
        <form action="/delete" method="post">
          <input
            type="submit"
            name="deleteId"
            value="Delete review <%= rev.id %>"
          />
        </form>
      </div>
      <% }); %> <% } %>
    </div>

    <footer>
      <p>© Dannielle 2024</p>
      <p>Logo credit LogoMakr</p>
    </footer>
  </body>
</html>
