<%- include("partials/header") %>


    <h1>Book reviews</h1>

    <h2>Reviews</h2>
    <div class="wrapper">
      <% if (locals.reviews) { %> <% reviews.forEach(rev => { %>
      <div class="review-box">
        <p><%=rev.title%> written by <%=rev.author%></p>
        <p>read by <%= rev.name %></p>
        <p><%=rev.review%></p>
      </div>
      <% }); %> <% } %>
    </div>

    <%- include("partials/footer") %>

