<%- include("partials/header") %>

<div class="home-container">
  <div class="quote-container">
    <% if (locals.quote) { %>
    <p style="font-style: italic">"<%= quote.q %>"</p>
    <b><%= quote.a %></b>
    <% } %>
  </div>

  <h2>Top rated</h2>

  <div class="home-search-box">
    <p>
      <span>Exlore the library</span> for inspiration on your next page turner
      or more information on a book you've read.
    </p>
    <form action="/search" method="post">
      <input name="search-term" type="text" placeholder="Enter search term" />
    </form>
  </div>

  <div class="row row-cols-1">
    <% if (locals.reviews) { %> <% reviews.forEach(rev => { %>
    <div class="col">
      <span style="font-size: larger; color: #543310"><%=rev.title%></span>
      <p><%=rev.author%></p>
      <p>Reviewed by <%= rev.name %></p>
      <% for (let i = 0; i < +rev.stars; i++) { %>
      <span class="rating"></span>
      <% } %>
      <p><%=rev.review%></p>
    </div>
    <% }); %> <% } %>
  </div>

  <div class="center-div">
    <div class="flip-card">
      <p><a href="/signup"> Sign Up </a> to get involved.</p>
    </div>
  </div>
</div>

<%- include("partials/footer") %>

<!-- Photo by Min An: https://www.pexels.com/photo/pile-of-assorted-novel-books-694740/ -->
