<%- include("partials/header") %>

<h1>Reviews</h1>

<!-- ADD SORT BY, INC ALPHABET(AUTH/TITLE), STARS -->
<div>
  <form action="/sort" method="post">
    <!-- <label for="options">Sort</label> -->
    <select name="options">
      <option value="default">Default</option>
      <option value="abcauthor">A-Z Author</option>
      <option value="abcbook">A-Z Book</option>
      <option value="rating">Rating</option>
    </select>
    <button type="submit">Sort</button>
  </form>
</div>

<div class="container text-center">
  <div class="row row-cols-3">
    <% if (locals.reviews) { %> <% reviews.forEach(rev => { %>
    <div class="col">
      <span style="font-size: larger; color: #543310"><%=rev.title%></span>
      <p><%=rev.author%></p>
      <p>Reviewed by <%= rev.name %></p>
      <% for (let i = 0; i < +rev.stars; i++) { %>
      <span class="rating"></span>
      <% } %>
      <p><%=rev.review%></p>
    </div>
    <% }); %> <% } %>
  </div>
</div>

<%- include("partials/footer") %>
